<a href="https://colab.research.google.com/github/yukinaga/minnano_cs/blob/main/section_5/01_database1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データベースの実装1
今回は、リレーショナルモデルを使用する**リレーショナルデータベース**（relational database, RDB）を実装します。  
リレーショナルデータベースでは、行と列によって構成された「テーブル」を、互いに関連付けて関係モデルを構築します。  
利用者は、クエリ（問いかけ）をデータベースに与えて、データの検索、変更することができます。
リレーショナルデータベースを使えば、データの重複や不整合を容易に回避することができます。  
現在最も広く使われているデータベースシステムの1つです。

## ◎テーブルの作成
リレーショナルデータベースでは、**テーブル**（表）にデータをまとめます。  
テーブルは行（row）と列（column）で構成され、行には各要素が、列には各要素のに属する特性が格納されます。  
そして、**SQL**（Structured Query Language）は、リレーショナルデータベースでデータを操作するための言語です。  
SQLにより、テーブルの作成や情報の読み書きが可能になります。  
    
今回は、データベースの実装にSQLiteを使用します。  
SQLiteは、パブリックドメインの軽量なリレーショナルデータベース管理システム (RDBMS) で、アプリケーションに組み込んで利用されます。  

Pythonでは、sqlite3をインポートすることでSQLiteを手軽に使うことができます。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")  # データベースを表すインスタンス
cursor = connect.cursor()  # データベースの制御に使用

cursor.execute(  # SQL文の実行
    "create table students(id integer PRIMARY KEY, name text, math_score integer)"  # SQL文
    )

connect.commit()  # 変更を反映する
connect.close()  # データベースを閉じる

上記のSQL文、    
```create table students(id integer PRIMARY KEY, name text, math_score integer)```  
において、`id`と`name`は列の名前、`integer`と`text`はデータの型を表します。  
以下はSQLで使用されるデータの型の例です。  

|||
| ---- | ---- |
|  integer  |  符号付き整数  |
|  real  |  小数  |
|  text  |  文字列  |

また、`PRIMARY KEY`は重複しない値が格納されることを表し、この列は要素の特定に使われることになります。  

上記のコードによりテーブルは永続的に保存されるので、後から読み込んで使用することが可能になります。  

なお、Pythonのライブラリsqlite3について、詳細は以下のサイトを参考にしてください。  
https://docs.python.org/ja/3/library/sqlite3.html

## ◎行の追加
insert文を使ってテーブルに行を追加することができます。  
insert文は以下のように記述することができます。  
`insert into テーブル名(列名, ...) values(値, ....)`  
  
`PRIMARY KEY`の列は自動で番号が振られるので、列名と値を指定する必要はありません。  
  

以下のコードでは、insert文を使って複数の行をテーブルに追加しています。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")  # データベースの読み込み
cursor = connect.cursor()

cursor.execute( 
    "insert into students(name, math_score) values('Taro', 89)"
    )
cursor.execute( 
    "insert into students(name, math_score) values('Hanako', 92)"
    )
cursor.execute( 
    "insert into students(name, math_score) values('Jiro', 73)"
    )

connect.commit()
connect.close()

テーブルの中身は、select文を使って確認することができます。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")
cursor = connect.cursor()

for row in cursor.execute("select * from students"):
        print(row)

connect.commit()
connect.close()

`PRIMARY KEY`を指定した列は、自動で番号が振られていることが確認できます。  
なお、select文の意味は次に解説します。

## ◎要素の取得
select文を使ってテーブルの列を取得することができます。  
select文は以下のように記述することができます。  
`select 列名, ... from テーブル名`  
  
列名に`*`（アスタリスク）を指定すると、全ての列を取得することになります。 
  
以下のコードでは、select文を使ってテーブルから列を取り出しています。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")
cursor = connect.cursor()

for row in cursor.execute("select name, math_score from students"):
        print(row)

connect.commit()
connect.close()

指定した列のみが取り出されていることが確認できます。  
  
また、`where`を使うことで特定の条件を満たした要素のみを取り出すことができます。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")
cursor = connect.cursor()

for row in cursor.execute("select name, math_score from students where math_score >= 80"):
    print(row)

connect.commit()
connect.close()

## ◎要素の変更
update文を使ってテーブルの要素をすることができます。  
update文は以下のように記述することができます。  
`update テーブル名 set 列名=値, ... where 条件`  
    
以下のコードでは、update文を使ってテーブルの要素を変更しています。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")
cursor = connect.cursor()

cursor.execute("update students set math_score=98 where id = 1")

connect.commit()
connect.close()

要素が変更されたことを確認します。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")
cursor = connect.cursor()

for row in cursor.execute("select * from students"):
        print(row)

connect.commit()
connect.close()

## ◎行の削除
delete文を使ってテーブルの行を削除することができます。  
delete文は以下のように記述することができます。  
`delete from テーブル名 where 条件`  
    
上記により、条件を満たす行が削除されます。  
以下のコードでは、delete文を使ってテーブルの行を削除しています。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")
cursor = connect.cursor()

cursor.execute("delete from students where id = 3")

connect.commit()
connect.close()

行が削除されたことを確認します。

In [ ]:
import sqlite3

connect = sqlite3.connect("sample1.db")
cursor = connect.cursor()

for row in cursor.execute("select * from students"):
        print(row)

connect.commit()
connect.close()

## @ 演習

以下の表を、テーブルとしてリレーショナルデータベースに保存しましょう。  
  
| id | name | age | location |
| ---- | ---- | ---- | ---- |
|  1  |  Taro  | 21 | Tokyo |
|  2  |  Hanako  | 23 | Fukuoka |
|  3  |  Jiro  | 19 | Osaka |
|  4  |  Yoko  | 20 | Hokkaido |
  
`id`の列はPRIMARY KEYに設定してください。  
以下のセルにPythonのコードを追記し、リレーショナルデータベースにデータを保存してください。

In [ ]:
import sqlite3

connect = sqlite3.connect("team.db")
cursor = connect.cursor()

cursor.execute(  # 以下のSQL文に追記を行ってください
    "create table team_members( "
    )

cursor.execute(  # 以下のSQL文に追記を行ってください
    "insert into team_members( "
    )
cursor.execute(  # 以下のSQL文に追記を行ってください
    "insert into team_members( "
    )
cursor.execute(  # 以下のSQL文に追記を行ってください
    "insert into team_members( "
    )
cursor.execute(  # 以下のSQL文に追記を行ってください
    "insert into team_members( "
    )

connect.commit()
connect.close()

また、以下のコードに追記を行い、テーブルの内容を確認してください。

In [ ]:
import sqlite3

connect = sqlite3.connect("team.db")
cursor = connect.cursor()

# 以下のSQL文に追記を行ってください
for row in cursor.execute(" "):
        print(row)

connect.commit()
connect.close()

## @解答例

In [ ]:
import sqlite3

connect = sqlite3.connect("team.db")
cursor = connect.cursor()

cursor.execute(  # 以下のSQL文に追記を行ってください
    "create table team_members(id integer PRIMARY KEY, name text, age integer, location text)"
    )

cursor.execute(   # 以下のSQL文に追記を行ってください
    "insert into team_members(name, age, location) values('Taro', 21, 'Tokyo')"
    )
cursor.execute(   # 以下のSQL文に追記を行ってください
    "insert into team_members(name, age, location) values('Hanako', 23, 'Fukuoka')"
    )
cursor.execute(   # 以下のSQL文に追記を行ってください
    "insert into team_members(name, age, location) values('Jiro', 19, 'Osaka')"
    )
cursor.execute(   # 以下のSQL文に追記を行ってください
    "insert into team_members(name, age, location) values('Yoko', 20, 'Hokkaido')"
    )

connect.commit()
connect.close()

In [ ]:
import sqlite3

connect = sqlite3.connect("team.db")
cursor = connect.cursor()

# 以下のSQL文に追記を行ってください
for row in cursor.execute("select * from team_members"):
        print(row)

connect.commit()
connect.close()