<a href="https://colab.research.google.com/github/yukinaga/minnano_cs/blob/main/section_5/02_database2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データベースの実装2
今回は、テーブル同士を連携させてデータを取得します。  
リレーショナルデータベースで最も特徴的なのが、このようなリレーションです。  
複数のテーブルを連携させて、データを効率的に扱うことができます。

## ◎テーブル間の連携
顧客データを格納するテーブル（customers）、および発注データを格納するテーブル（orders）を作成します。  
顧客データのテーブルでは、各顧客に`PRIMARY KEY`を使ってidを設定します。  
発注データのテーブルでは、発注者を表すid（外部キー）と発注数量を各行に格納します。

In [ ]:
import sqlite3

connect = sqlite3.connect("shop.db")
cursor = connect.cursor()

# ----- 顧客データ -----
cursor.execute(
    "create table customers(id integer PRIMARY KEY, first_name text, last_name text, age integer)"
    )

# 複数のデータをまとめて追加
sql = "insert into customers(first_name, last_name, age) values(?, ?, ?)"
data = [("Taro", "Yamada", 21),
        ("Hanako", "Sato", 23),
        ("Jiro", "Suzuki", 19)]
cursor.executemany(sql, data)

# -----発注データ -----
cursor.execute(  # 発注者, 数量
    "create table orders(customer integer, amount integer)"
    )

# 複数のデータをまとめて追加
sql = "insert into orders(customer, amount) values(?, ?)"
data = [(2, 12),
        (1, 5),
        (3, 18),
        (3, 9),
        (2, 36)]
cursor.executemany(sql, data)

connect.commit()
connect.close()

複数のテーブルを連携させるためには、`join`を使います。  
以下のセルのコードでは、`join`を使って顧客のテーブル、発注のテーブル、2つを連携させています。  
一定の数量以上の発注があった顧客名を取り出しますが、`select distinct`により結果の重複は除かれます。

In [ ]:
import sqlite3

connect = sqlite3.connect("shop.db")
cursor = connect.cursor()

sql = """
select distinct first_name, last_name
from customers join orders
on orders.customer = customers.id
where orders.amount >= 10
"""
for row in cursor.execute(sql):
    print(row)

connect.commit()
connect.close()

複数のテーブルを連携させることで、大規模なデータを効率よく扱うことが可能になります。

## @ 演習

上記で作成した顧客のテーブルと発注のテーブルを使用し、  
「数量10未満の発注があった顧客の名前と年齢」  
を取得し表示しましょう。  
以下のセルの指定された箇所に、SQL文を追記してください。

In [ ]:
import sqlite3

connect = sqlite3.connect("shop.db")
cursor = connect.cursor()

# ----- 以下にSQL文を記入
sql = """




"""
for row in cursor.execute(sql):
    print(row)

connect.commit()
connect.close()

余裕のある方は、製品データを格納するテーブル`products`を作成し、他のテーブルと連携させることにトライしてみましょう。

## @解答例

In [ ]:
import sqlite3

connect = sqlite3.connect("shop.db")
cursor = connect.cursor()

# ----- 以下にSQL文を記入
sql = """
select distinct first_name, last_name, age
from customers join orders
on orders.customer = customers.id
where orders.amount < 10
"""
for row in cursor.execute(sql):
    print(row)

connect.commit()
connect.close()